/* CSS for navigation */
body{
    background-color: rgb(215, 224, 215);
    margin: 0px;
    padding: 0px;
}
a{
    align-content: center;
    margin: auto;
    width: 180px
}
.Navigation {
    background-color: #ffffff;
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 1001;
    display: flex;
}
nav  {
    background-color: #ffffff;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 53%;
    height: 50px;
    align-content: center;
    margin: auto;
    border-radius: 66px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    transition: top 1s ease;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    height:180px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
}
nav ul li a:hover {
    color: #007bff;
    margin-top: 5px;
    transform: scale(2.2); /* Slight scale increase on hover */
    border-radius: 150px;
    background-color: aliceblue;
}
.content {
    margin-top: 50px; /* Ensures confilm10t is below the fixed navigation */
}
.loged{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 230px;
    margin: auto;
}
.title{
    margin-top: 10px;
    padding: 40px;
    text-align: center;
    font-size: 40px;
    background-color: #0e2188;
    color:#ffffff;
    font-weight: bold; 
}
.Action{
    display: grid;
    width: auto;
    grid-template-columns:repeat(auto-fill,minmax(450px,1fr));
    grid-template-rows: auto auto auto;
    z-index: 400;
}
.film1,.film2,.film3,.film4,.film5,.film6,.film7,.film8,.film9,.film10,.film11,.film12{
    width: 450px;
    height:673.8px ;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    
}
.film1:hover,.film2:hover,.film3:hover,.film4:hover,.film5:hover,.film6:hover,.film7:hover,.film8:hover,.film9:hover,.film10:hover,.film11:hover,.film12:hover{
    transition-duration: 1s;
    transform: scale(1.1);
    box-shadow: 0px 0px 35px 10px rgb(0, 0, 255);
}
.footer{
    background-color: #333;
    position:static;
    margin-top: 34px;
    bottom:0px;
    width:100%;
    display:inline-block;
    display:flex;
    justify-content: center;
    height: 170px;
    
}
.footer .info ul li{
    list-style-type: none;
    display:inline-block;
    display:flex;
    text-align: centre;
}
.footer .info ul li a{
    text-decoration: none;
    color:white;

}
.footer .info ul{
    display:inline-block;
    display:flex;
    align-content: center;
    font-family: system-ui;
}
.footer .info ul li a:hover{
    color:#007bff;
}
.footer .info .social {
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    margin-top:30px;
    padding-right:275px;
}